.Notification {
    opacity: 0;
}

.bottom-notification {
    animation: riseUp_fallDown 5500ms 1000ms forwards;
}

@keyframes riseUp_fallDown {
    0%,
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
    4%,
    96% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* 250 5000 250 */
