.popUp-show {
    animation: appearFromLeft 250ms forwards;
}

.popUp-hide {
    animation: disappearToLeft 250ms forwards;
}

.popUp-none {
    display: none;
}

@keyframes appearFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes disappearToLeft {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}
