.NewShopCard {
    background-color: var(--color-primary);
    cursor: pointer;
    padding: 0;
}

.NewShopCard img,
.ShopCard button {
    transition: 250ms all;
}

.NewShopCard:hover img {
    scale: 110%;
    transform: translateY(-10%);
}

.NewShopCard a {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.ShopCard button {
}
