:root {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    --color-primary: #fc4747;
    --color-dark-blue: #10141e;
    --color-white: #ffffff;
    --color-greyish-blue: #5a698f;
    --color-semi-dark-blue: #161d2f;

    color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark-blue);
}

#root {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
main {
    width: 100vw;
    max-width: 1400px;
    height: 100vh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
    outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h1,
h2 {
    font-weight: 300; /*light*/
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h3,
h4 {
    font-weight: 500; /*medium*/
}

p {
    font-size: 15px;
    font-weight: 300; /*light*/
}
.smallText {
    font-size: 13px;
    font-weight: 300; /*light*/
}

/* colors for icons */
.redFill {
    fill: var(--color-primary);
}

.whiteFill {
    fill: white;
}

.greyFill {
    fill: var(--color-greyish-blue);
}

::-webkit-scrollbar {
    width: 4px;
    /* border: 1px solid #d5d5d5; */
}

::-webkit-scrollbar-track {
    border-radius: 0;
    /* background: var(--color-grey); */
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--color-dark-grey);
    cursor: pointer;
}

.commonPadding_with_Nav {
    padding-top: calc(100px + 1rem); /* nav height + 1rem */
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

/* all screens above 768px */
@media screen and (min-width: 768px) {
    main {
        /* padding: 1rem !important; */
    }
}
